.cadastro-regras {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 150px;

    .cadastro-regras__header {
        margin-bottom: 50px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .cadastro-regras__header-button {
            padding: 6px 12px 6px 12px !important;
            svg {
                transition: all 0.3s ease-in-out;
                transform: scale(1.5);
                margin-bottom: 1px;
                box-sizing: content-box;
            }

            &:hover {
                svg {
                    transform: translateX(-3px) scale(1.5);
                }
            }
        }
    }

    .cadastro-regras__filter {
        // min-height: 200px;
        background-color: #f5f5f5;
        margin-bottom: 50px;
        border-radius: 0.25rem;
        padding: 20px;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;

        .MuiFormControl-root {
            min-width: 150px !important;

            .MuiFormLabel-root {
                color: $primary-color-1;
            }
            .MuiInputBase-root {
                background: #fff !important;
                color: $primary-color-1;
            }
        }

        .cadastro-regras__filter-button {
            margin-left: auto !important;
            border-radius: 50%;
            width: 40px;
            background-color: $primary-color-1;

            svg {
                fill: #fff !important;
            }

            .add-button {
                &:focus {
                    outline: none !important;
                    border: none !important;
                }
            }

            &:hover {
                background-color: #23272b;
            }
        }

        .cadastro-regras__filter-clear {
            .clear-button {
                &:focus {
                    outline: none !important;
                    border: none !important;
                }
            }
        }
    }

    .cadastro-regras__not-found {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 50px;
        svg {
            transform: scale(1.5);
        }
        p {
            text-align: center;
            margin: 0;
        }
    }

    .modal-delete-app {
        .modal-content {
            background-color: #f8d7da;
            border: 1px solid #f8d7da;

            .modal-body {
                border-radius: 0.3rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // gap: 20px;
                height: 60px;
                p {
                    margin: 0;
                    color: #911824;
                }
                svg {
                    box-sizing: content-box;
                    color: #911824;
                    transform: scale(1.2);
                }
            }
        }
    }

    .MuiPaper-root {
        .MuiTableContainer-root {
            border-radius: 0.25rem;
            .MuiTable-root {
                p {
                    margin: 0 auto;
                }

                .MuiTableHead-root {
                    background-color: $primary-color-1;
                    .th-acoes {
                        position: sticky;
                        left: 0;
                        z-index: 100;
                        background-color: #343a40;
                    }
                    th {
                        color: #fff;
                        text-align: center;
                        font-size: 1rem;
                    }
                }
                .MuiTableBody-root {
                    .td-acoes {
                        position: sticky;
                        left: 0;
                        z-index: 100;
                        background-color: #fff;
                    }
                    td {
                        text-align: center;
                        button {
                            padding: 10px !important;
                            &:focus {
                                outline: none !important;
                                border: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $media-md) {
    .cadastro-regras {
        width: 80vw;
    }
}

@media (max-width: $media-sm) {
    .cadastro-regras {
        .cadastro-regras__header {
            gap: 20px;
            h2 {
                font-size: 1.6rem;
            }
        }

        .cadastro-regras__filter {
            gap: 20px;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;

            .MuiFormControl-root {
                min-width: 100% !important;
            }

            .cadastro-regras__filter-button {
                margin: 0 auto;
            }

            .cadastro-regras__filter-clear {
                margin: 0 auto;
            }
        }

        .cadastro-regras__not-found {
            flex-direction: column;

            gap: 20px;

            svg {
                transform: scale(2);
            }
        }
    }

    .MuiPaper-root {
        .dialog-module {
            .MuiFormControl-root {
                width: 100% !important;
            }
        }
    }
}

.MuiPaper-root {
    .dialog-buttons {
        justify-content: space-between;
        padding: 24px 24px;
        div:nth-child(1) {
            button {
                border: 1px solid #6c757d;

                &:hover {
                    background-color: #6c757d !important;
                    color: #fff;
                }
            }
        }
        div:nth-child(2) {
            button {
                background-color: #4bb543 !important;
                border: none !important;

                &:hover {
                    background-color: #419154 !important;
                }
            }
        }
    }
}
