.cadastro-apps {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 150px;

    .cadastro-apps__header {
        margin-bottom: 50px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .cadastro-apps__header-button {
            padding: 6px 12px 6px 12px !important;
            svg {
                transition: all 0.3s ease-in-out;
                transform: scale(1.5);
                margin-bottom: 1px;
                box-sizing: content-box;
            }

            &:hover {
                svg {
                    transform: translateX(-3px) scale(1.5);
                }
            }
        }
    }

    .cadastro-apps__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cadastro-apps__filter-1 {
            flex: 1;

            .cadastro-apps__filter-search {
                border: 1px solid #0005;
                border-radius: 3px 0 0 3px;
                padding: 10px;

                svg {
                    box-sizing: content-box;
                    transform: scale(1.2);
                    margin-top: 1px;
                }

                .search-box {
                    border: none !important;
                    margin-left: 5px;
                    flex: 1;

                    &:focus {
                        outline: none !important;
                        outline-width: 0 !important;
                    }
                }
            }
        }

        .cadastro-apps__filter-2 {
            background-color: rgb(52, 58, 64);
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 13px 0 13px;
            border-radius: 0 3px 3px 0;
            transition: all 0.3s ease-in-out;
            svg {
                box-sizing: content-box;
                color: #fff !important;
                transform: scale(1.5);
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                svg {
                    transform: scale(1.7);
                }
                background-color: #23272b;
                cursor: pointer;
            }
        }
    }
}
