.example {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 50px;
    h2 {
        font-size: 2rem;
    }
    button {
        padding: 5px;
        font-size: 1rem;
        &:hover {
            background-color: violet;
        }
    }
}
