#root {
    position: relative;
    .btn-floating-navbar {
        position: fixed;
        bottom: 30px;
        right: 25px;

        button {
            &:focus {
                outline: none;
            }
        }
    }
}
