body {
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0;
    overflow: scroll !important;
}

#root {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}
