#root {
    .login-container {
        height: 100vh;
        display: flex;
    }
    .inputs-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: auto;
        position: relative;
        .btn-login {
            align-self: flex-end;
            margin-right: 4%;
        }
        .span-error {
            color: red;
            font-size: 0.8rem;
            margin-top: 6px;
            margin-left: 5%;
        }
    }
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100%;
        background-color: rgb(185, 185, 185);
    }

    @media (max-width: 600px) {
        .login-container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .inputs-container {
            display: flex;
            flex-direction: column;
            align-self: center;
            margin: auto;
            position: relative;
            .btn-login {
                align-self: flex-end;
                margin-right: 4%;
                margin-bottom: 10px;
            }
            .span-error {
                color: red;
                font-size: 0.8rem;
                margin-top: 6px;
                margin-left: 5%;
            }
        }
        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: rgb(185, 185, 185);
        }
    }
}
