#root {
    .login-container {
        height: 100%;
        display: flex;
        // justify-content: space-between;
    }
    .inputs-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 15%;
        position: relative;
        input {
            margin-bottom: 16px;
            border-radius: 2px;
        }
        button {
            // font-size: 0.8rem;
            // border-radius: 4px;
            align-self: flex-end;
            // background-color: rgb(61, 61, 61);
            // color: white;
            padding: 6px 20px;
        }
        span {
            color: red;
            font-size: 0.8rem;
            margin-top: 6px;
        }
        div {
            button {
                position: absolute;
                top: 62px;
                right: 8px;
                background: none;
                border: none;
                padding: 0;
                margin: 0;
            }
        }
    }
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100%;
        background-color: rgb(185, 185, 185);
    }
}
